.receipt-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.logo {
max-height: 176px;
max-width: 146px
}    ;
