.eta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4b4140; // Mörk bakgrund
    height: 100vh;
    color: white;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
  
  .eta-container img {
    width: 180px; // Anpassa bildstorlek
    height: auto;
    margin-bottom: 20px;
  }
  
  .eta-title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .eta-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .eta-text {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .eta-order-number {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.8;
  }
  
  .eta-button {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .eta-button.new-order {
    background-color: black;
    color: white;
  }
  
  .eta-button.receipt {
    background-color: #5c5453;
    color: white;
  }
  
  .eta-button:disabled {
    background-color: #7a6f6e;
    cursor: not-allowed;
  }
  